#########################
# Flake8 Configuration  #
# (.flake8)             #
#########################
[flake8]
ignore = 
	E501
	F403 # imports not used in init
	F401 # imports not used in init
	C901 # too complex methods
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
import-order-style = pycharm
application-import-names =
    pathway_forte
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
