graft src
graft tests

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg
include data
include data/gmt_files

recursive-include data *.gmt
recursive-include data *.rst
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

include *.rst *.txt *.yml LICENSE tox.ini .flake8 doc8.ini .coveragerc

